{erl_opts,
 [warn_bif_clash,
  warn_deprecated_function,
  warn_export_all,
  warn_export_vars,
  warn_exported_vars,
  warn_format,
  %%warn_missing_spec,
  warn_obsolete_guard,
  warn_shadow_vars,
  warn_untyped_record,
  warn_unused_function,
  warn_unused_record,
  warn_unused_vars,
  debug_info
 ]}.

{cover_enabled, true}.

{deps,
 []}.

{profiles, [
    {test, [
            {deps, [{jsx, "3.1.0"}]},
            {erl_opts, [nowarn_export_all]}
    ]}
]}.

{plugins, [
  rebar3_hex,
  rebar3_ex_doc
]}.

{project_plugins, [
  {geas_rebar3, "1.4.16"}
]}.

{dialyzer, [{warnings, [unknown]}]}.

{ex_doc, [
    {source_url, <<"https://github.com/esl/graphql-erlang">>},
    {extras, [{'README.md', #{title => <<"Overview">>}},
              {'LICENSE', #{title => <<"License">>}}
             ]},
    {main, <<"readme">>}
]}.

{hex, [{doc, ex_doc}]}.
